.slide-1{
       background: linear-gradient(#0000009d,#ffffff2a) ,url('https://plus.unsplash.com/premium_photo-1661964014750-963a28aeddea?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
}